# Exploratory Data Analysis

This notebook summarizes various discoveries about the dataset that 
influenced how it was normalized. I moved the code out of the notebook
that creates and fills the normalized tables because that notebook was
getting pretty full/busy.

In [1]:
%load_ext sql
%sql postgres://localhost/ex_superstore_normalize

'Connected: @ex_superstore_normalize'

## What is unique to a given product?

In [2]:
%%sql
WITH multicheck AS (
    SELECT 
        COUNT(DISTINCT product_category) cat_count,
        COUNT(DISTINCT product_subcategory) subcat_count,
        COUNT(DISTINCT product_container) cont_count,
        product_name,
        COUNT(DISTINCT product_base_margin) base_count,
        COUNT(DISTINCT unit_price) price_count
    FROM
        orders
    GROUP BY 
        product_name
)
SELECT 
    *
FROM 
    multicheck
WHERE
        cat_count > 1
    OR
        subcat_count > 1
    OR
        cont_count > 1
    OR
        base_count > 1
    OR
        price_count > 1
    ;

 * postgres://localhost/ex_superstore_normalize
14 rows affected.

[(1, 1, 1, 'Adesso Programmable 142-Key Keyboard', 2, 1),
 (1, 1, 1, 'Bevis Round Bullnose 29" High Table Top', 2, 1),
 (1, 1, 1, 'Bevis Round Conference Table Top & Single Column Base', 2, 1),
 (1, 1, 1, 'Bevis Round Conference Table Top, X-Base', 2, 1),
 (1, 1, 1, 'BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables', 2, 1),
 (1, 1, 1, 'Bretford CR8500 Series Meeting Room Furniture', 2, 1),
 (1, 1, 1, 'Bush Advantage Collection® Round Conference Table', 2, 1),
 (1, 1, 1, 'Fellowes Basic 104-Key Keyboard, Platinum', 2, 1),
 (1, 1, 1, 'Fellowes Smart Design 104-Key Enhanced Keyboard, PS/2 Adapter, Platinum', 2, 1),
 (1, 1, 1, 'Keytronic 105-Key Spanish Keyboard', 2, 1),
 (1, 1, 1, 'Keytronic French Keyboard', 2, 1),
 (1, 1, 1, 'Metal Folding Chairs, Beige, 4/Carton', 1, 2),
 (1, 1, 1, 'Panasonic KX-P3200 Dot Matrix Printer', 2, 2),
 (1, 1, 1, 'Staples #10 Laser & Inkjet Envelopes, 4 1/8" x 9 1/2", 100/Box', 2, 1)]

For each product name, there is only one category, subcategory and container. However, there can be multiple unit_price and product_base_margin values.

## Customer segment 

It turns out customer segment is not unique per customer!

In [3]:
%%sql
SELECT 
    customer_name,
    COUNT(DISTINCT customer_segment)
FROM
    orders
GROUP BY 
    customer_name
HAVING
    COUNT(DISTINCT customer_segment) > 1
LIMIT 
    10;

 * postgres://localhost/ex_superstore_normalize
10 rows affected.

[('Anna Wood', 2),
 ('Annette McIntyre', 2),
 ('Arlene Long', 2),
 ('Benjamin Lam', 2),
 ('Bonnie Matthews Rowland', 2),
 ('Bradley Schroeder', 2),
 ('Cameron Kendall', 2),
 ('Carlos Hanson', 2),
 ('Carolyn Greer', 2),
 ('Christopher Norton Patterson', 2)]

There are actually 58 customers with more than one segment. 

However, each customer order is only associated with one segment. I put the 
customer segment in the new order table.

In [4]:
%%sql
SELECT
    customer_name, 
    order_id, 
    COUNT(DISTINCT customer_segment)
FROM
    orders
GROUP BY 
    customer_name, order_id
HAVING
    COUNT(DISTINCT customer_segment) > 1
;

 * postgres://localhost/ex_superstore_normalize
0 rows affected.

[]

## Each customer has one name 

Also a spot check to see if a customer id has more than one address.

In [5]:
%sql SELECT COUNT(DISTINCT customer_id) FROM orders;

 * postgres://localhost/ex_superstore_normalize
1 rows affected.

[(1130,)]

In [6]:
%sql SELECT COUNT(DISTINCT customer_name) FROM orders;

 * postgres://localhost/ex_superstore_normalize
1 rows affected.

[(1130,)]

In [7]:
%%sql 
SELECT 
    COUNT(DISTINCT city) 
FROM 
    orders 
GROUP BY 
    customer_id
HAVING COUNT(DISTINCT city) > 1
;

 * postgres://localhost/ex_superstore_normalize
0 rows affected.

[]

## Exploring order attributes

- The entire order has one order date
- A specific item in the order can have a different priority than another item in the same order
- Specific items can also have different ship modes
- The same order_id can have multiple customer_id's associated with it
- Two different order_id's can re-use the same row_id for order items

In [8]:
%%sql
SELECT
    order_id, count(distinct order_date)
FROM
    orders
GROUP BY
    order_id
HAVING
    COUNT(DISTINCT order_date) > 1
;

 * postgres://localhost/ex_superstore_normalize
0 rows affected.

[]

In [9]:
%%sql
SELECT
    order_id, COUNT(DISTINCT order_priority)
FROM
    orders
GROUP BY
    order_id
HAVING
    COUNT(DISTINCT order_priority) > 1
;

 * postgres://localhost/ex_superstore_normalize
3 rows affected.

[(86885, 2), (88908, 2), (90540, 2)]

In [10]:
%%sql
SELECT
    order_id, COUNT(DISTINCT ship_mode)
FROM
    orders
GROUP BY
    order_id
HAVING
    COUNT(DISTINCT ship_mode) > 1
LIMIT
    5 /* there are 203 of these */
;

 * postgres://localhost/ex_superstore_normalize
5 rows affected.

[(962, 2), (9606, 2), (12224, 2), (13959, 2), (21636, 2)]

In [11]:
%%sql
SELECT
    order_id, COUNT(DISTINCT customer_id)
FROM
    orders
GROUP BY
    order_id
HAVING
    COUNT(DISTINCT customer_id) > 1
LIMIT
    5 /* there are 104 of these */
;

 * postgres://localhost/ex_superstore_normalize
5 rows affected.

[(85880, 2), (85966, 2), (86012, 2), (86051, 2), (86075, 2)]

In [12]:
%%sql
SELECT
    row_id, count(distinct order_id)
FROM
    orders
GROUP BY
    row_id
HAVING
    COUNT(DISTINCT order_id) > 1
;

 * postgres://localhost/ex_superstore_normalize
1 rows affected.

[(22015, 2)]

## There are some NULLs in the original data for base_margin

In [13]:
%%sql
SELECT 
    * 
FROM 
    orders 
WHERE 
    NOT (orders IS NOT NULL);

 * postgres://localhost/ex_superstore_normalize
16 rows affected.

[(18261, 'Critical', 0.06, 276.2, 24.49, 335, "Curtis O'Connell", 'Regular Air', 'Corporate', 'Furniture', 'Chairs & Chairmats', 'Large Box', 'SAFCO Arco Folding Chair', None, 'United States', 'West', 'Oregon', 'Medford', 97504, datetime.datetime(2015, 5, 4, 0, 0), datetime.datetime(2015, 5, 5, 0, 0), 2639.47, 14, 3825.32, 87277),
 (18305, 'Critical', 0.01, 128.24, 12.65, 508, 'Cameron Owens', 'Regular Air', 'Corporate', 'Furniture', 'Chairs & Chairmats', 'Medium Box', 'SAFCO Folding Chair Trolley', None, 'United States', 'South', 'Kentucky', 'Covington', 41011, datetime.datetime(2015, 4, 18, 0, 0), datetime.datetime(2015, 4, 21, 0, 0), 140.135, 4, 554.08, 87357),
 (24764, 'Critical', 0.09, 349.45, 60.0, 868, 'Sharon Ellis', 'Delivery Truck', 'Corporate', 'Furniture', 'Tables', 'Jumbo Drum', 'SAFCO PlanMaster Heigh-Adjustable Drafting Table Base, 43w x 30d x 30-37h, Black', None, 'United States', 'Central', 'Minnesota', 'Shoreview', 55126, datetime.datetime(2015, 3, 6, 0, 0), datetime.datetime(2015, 3, 7, 0, 0), -2946.05, 12, 3918.98, 91195),
 (19185, 'High', 0.09, 349.45, 60.0, 1178, 'Sandy Hunt', 'Delivery Truck', 'Consumer', 'Furniture', 'Tables', 'Jumbo Drum', 'SAFCO PlanMaster Heigh-Adjustable Drafting Table Base, 43w x 30d x 30-37h, Black', None, 'United States', 'South', 'Florida', 'Altamonte Springs', 32701, datetime.datetime(2015, 4, 9, 0, 0), datetime.datetime(2015, 4, 10, 0, 0), -369.11, 7, 2307.26, 89787),
 (20592, 'Medium', 0.03, 128.24, 12.65, 1237, 'Eva Simpson', 'Regular Air', 'Corporate', 'Furniture', 'Chairs & Chairmats', 'Medium Box', 'SAFCO Folding Chair Trolley', None, 'United States', 'Central', 'Texas', 'Carrollton', 75007, datetime.datetime(2015, 1, 31, 0, 0), datetime.datetime(2015, 2, 2, 0, 0), 790.464, 9, 1145.6, 86075),
 (21848, 'Not Specified', 0.08, 128.24, 12.65, 1267, 'Rosemary Branch', 'Regular Air', 'Corporate', 'Furniture', 'Chairs & Chairmats', 'Medium Box', 'SAFCO Folding Chair Trolley', None, 'United States', 'South', 'Florida', 'Boca Raton', 33433, datetime.datetime(2015, 5, 12, 0, 0), datetime.datetime(2015, 5, 13, 0, 0), -379.344, 3, 366.44, 89515),
 (22125, 'Low', 0.1, 238.4, 24.49, 1281, 'Pauline Denton', 'Regular Air', 'Small Business', 'Furniture', 'Chairs & Chairmats', 'Large Box', 'Safco Contoured Stacking Chairs', None, 'United States', 'Central', 'Indiana', 'Vincennes', 47591, datetime.datetime(2015, 1, 24, 0, 0), datetime.datetime(2015, 1, 26, 0, 0), 875.284, 8, 1774.5, 89112),
 (4125, 'Low', 0.1, 238.4, 24.49, 1282, 'Dana Sharpe', 'Regular Air', 'Small Business', 'Furniture', 'Chairs & Chairmats', 'Large Box', 'Safco Contoured Stacking Chairs', None, 'United States', 'East', 'Pennsylvania', 'Philadelphia', 19134, datetime.datetime(2015, 1, 24, 0, 0), datetime.datetime(2015, 1, 26, 0, 0), 460.676, 30, 6654.39, 29319),
 (22593, 'High', 0.09, 349.45, 60.0, 1739, 'Edna Pierce', 'Delivery Truck', 'Corporate', 'Furniture', 'Tables', 'Jumbo Drum', 'SAFCO PlanMaster Heigh-Adjustable Drafting Table Base, 43w x 30d x 30-37h, Black', None, 'United States', 'South', 'North Carolina', 'Goldsboro', 27534, datetime.datetime(2015, 5, 3, 0, 0), datetime.datetime(2015, 5, 4, 0, 0), -90.748, 17, 5835.41, 85867),
 (19914, 'Not Specified', 0.08, 95.99, 35.0, 2211, 'Anita Hahn', 'Express Air', 'Home Office', 'Office Supplies', 'Storage & Organization', 'Large Box', 'Safco Industrial Wire Shelving', None, 'United States', 'East', 'Maryland', 'Bowie', 20715, datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2015, 1, 3, 0, 0), -425.208, 2, 193.88, 88028),
 (19525, 'Critical', 0.01, 138.14, 35.0, 2660, 'Jeffrey Page', 'Regular Air', 'Small Business', 'Office Supplies', 'Storage & Organization', 'Large Box', 'SAFCO Commercial Wire Shelving, Black', None, 'United States', 'East', 'Maine', 'Gorham', 4038, datetime.datetime(2015, 2, 24, 0, 0), datetime.datetime(2015, 2, 26, 0, 0), -321.51, 4, 599.03, 86486),
 (23188, 'High', 0.06, 276.2, 24.49, 3048, 'Tracy G Starr', 'Express Air', 'Corporate', 'Furniture', 'Chairs & Chairmats', 'Large Box', 'SAFCO Arco Folding Chair', None, 'United States', 'West', 'California', 'Berkeley', 94704, datetime.datetime(2015, 3, 5, 0, 0), datetime.datetime(2015, 3, 7, 0, 0), 1167.38, 10, 2610.56, 89789),
 (20795, 'Critical', 0.08, 349.45, 60.0, 3119, 'Jay Hubbard', 'Delivery Truck', 'Corporate', 'Furniture', 'Tables', 'Jumbo Drum', 'SAFCO PlanMaster Heigh-Adjustable Drafting Table Base, 43w x 30d x 30-37h, Black', None, 'United States', 'South', 'Florida', 'Orlando', 32839, datetime.datetime(2015, 6, 30, 0, 0), datetime.datetime(2015, 7, 2, 0, 0), 513.084, 11, 3772.19, 86432),
 (18728, 'Not Specified', 0.01, 349.45, 60.0, 3257, 'Sharon Marcus', 'Delivery Truck', 'Consumer', 'Furniture', 'Tables', 'Jumbo Drum', 'SAFCO PlanMaster Heigh-Adjustable Drafting Table Base, 43w x 30d x 30-37h, Black', None, 'United States', 'West', 'Washington', 'Longview', 98632, datetime.datetime(2015, 5, 26, 0, 0), datetime.datetime(2015, 5, 27, 0, 0), 3739.39, 15, 5419.41, 88825),
 (23182, 'Critical', 0.09, 276.2, 24.49, 3380, 'Eva Decker', 'Regular Air', 'Home Office', 'Furniture', 'Chairs & Chairmats', 'Large Box', 'SAFCO Arco Folding Chair', None, 'United States', 'South', 'Georgia', 'La Grange', 30240, datetime.datetime(2015, 4, 20, 0, 0), datetime.datetime(2015, 4, 21, 0, 0), 3193.28, 11, 2941.42, 88838),
 (19464, 'Not Specified', 0.03, 95.99, 35.0, 3388, 'Aaron Shaffer', 'Regular Air', 'Corporate', 'Office Supplies', 'Storage & Organization', 'Large Box', 'Safco Industrial Wire Shelving', None, 'United States', 'West', 'California', 'Fairfield', 94533, datetime.datetime(2015, 5, 11, 0, 0), datetime.datetime(2015, 5, 12, 0, 0), 67.012, 9, 894.64, 90154)]

In [14]:
# which columns? 
nulls = _.DataFrame()

In [15]:
nulls.isna().any()

row_id                  False
order_priority          False
discount                False
unit_price              False
shipping_cost           False
customer_id             False
customer_name           False
ship_mode               False
customer_segment        False
product_category        False
product_subcategory     False
product_container       False
product_name            False
product_base_margin      True
country                 False
region                  False
state                   False
city                    False
postal_code             False
order_date              False
ship_date               False
profit                  False
quantity_ordered_new    False
sales                   False
order_id                False
dtype: bool

In [16]:
# so all the NUlls are in the product_base_margin column